<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Motivational Quotes</title>
    <link href="/css/styles.css" ref="stylesheets">


    

</head>
<body>

    <h1>Motivational Quotes</h1>

    <h2> <%= famousQuote.body %> </h2>
    <h2> <%= famousQuote.by %> </h2>
    
</body>
</html>