#yourGuess{
    font-size: 20px;
}
div{
    border: black solid 1px;
    padding: 5px;
    display: flex;
}
body{
    text-align: center;
}
#guessBox{
    width: 50%;
    height: 10%;
    border: 5px solid;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}
button{
    border-radius: 5px;
    border-color: blueviolet;
    background-color: aquamarine;
    border: 5px ridge;

}
button:hover{
    background-color: greenyellow;
}
h1:hover{
    color: red;
}